[Unit]
ConditionFileIsExecutable=/usr/sbin/enable-no-limit
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=base.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/enable-no-limit
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=base.target
