[Unit]
ConditionFileIsExecutable=/usr/sbin/enable-no-limit

[Service]
Type=oneshot
ExecStart=/usr/sbin/enable-no-limit
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=basic.target
